<h2>Edit Your Workout</h2>

<form method="POST" action="/workouts/<%= @workout.id %>/edit">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <p style='font-weight: bold;'>Workout Title: </p>
    <textarea type="text" name="title"><%= @workout.title %></textarea><br><br>
    <label style='font-weight: bold;'>Workout Date: </label>
    <input type='date' name='date' min='2020-01-01' max='2024-01-01' value='2020-01-01'><br>
    <p style='font-weight: bold;'>Edit exercises: </p>

    <p>Exercise 1: <input type='text' name='exercises[]' value='<%= @workout.exercises[0]%>' </p>
    Weight: <input type='text' name='weights[]' value='<%= @workout.weights[0]%>'>
    <p>Exercise 2: <input type='text' name='exercises[]' value='<%= @workout.exercises[1]%>' </p>
    Weight: <input type='text' name='weights[]' value='<%= @workout.weights[1]%>'>
    <p>Exercise 2: <input type='text' name='exercises[]' value='<%= @workout.exercises[2]%>' </p>
    Weight: <input type='text' name='weights[]' value='<%= @workout.weights[2]%>'>
    
    <br><br>
    <input type="submit" value="submit">
</form>