<h1>Workout Index</h1>

<a href='/workouts/new'>Create New Workout</a>

<% @workouts.each do |workout| %>
    <br><br>
    <label style="font-weight: bold;">Workout Title: </label> <%= workout.title %>
    <br>
    <label style="font-weight: bold;">Date: </label><%= workout.date %>
    <br>
    <label style="font-weight: bold;">Exercises: </label>
    <ul>
    <li><%= workout.exercises[0] %>: <%= workout.weights[0]%> lbs</li>
    <li><%= workout.exercises[1] %>: <%= workout.weights[1]%> lbs</li>
    <li><%= workout.exercises[2] %>: <%= workout.weights[2]%> lbs</li>
    </ul>
    <a href='/workouts/<%= workout.id %>'>Show Workout Details</a>
    <br>
  <% end %>